h1, h2, h3 {
  color: #000000;
}
body {
  padding-top: 56px;
  color: #000000;
  background-color: #f8f9fa;
}
.navbar {
  background-color: blue;
  color: rgb(64, 35, 170);
}
.card-body {
  background-color: rgb(0, 0, 0);
}
.card-col-lg-5 {
  color: #000000;
}
